body{
    color:#f9fcfb;
    font-family:  'Boogaloo','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2{
    text-align:center;
    margin : 0.5rem;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 0.1rem;
}
.scoreboard,.selection{
    display: flex;
    justify-content: center;
    margin: 0.5rem;

}
.scoreboard>div{
    padding: 1.5rem 0;
    text-align:center;
    font-size: 1.2rem;
    border: 1px solid #111;
    background-color: #706c61;
    width: 8rem;
}
.userinput{
    display:flex;
    justify-content: center;
}
.selection div{
    border: 1px solid #444;
    border-radius: 50%;
    background-color: #e1f4f3;
    margin: 1rem 1rem;
}

.selection div{
    background-color: #333;
}
.userinput img,.select{
    width: 5rem;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
} 
.select{
    width:8em;
}
.userinput button{
    padding: 0;
    border: 1px solid #444;
    border-radius: 50%;
    background-color: #e1f4f3;
    margin: 0 0.5rem;
}
.userinput button:focus{
    outline:none;
    
}